/* Подключение шрифтов */
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bad Script';
    src: url(../fonts/Bad_Script/BadScript-Regular.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: #202024;
}

/* Элементы */

.button{
    background:  linear-gradient(248.67deg, rgba(255, 255, 255, 0) 20.84%, rgba(255, 255, 255, 0.29) 36.06%, rgba(255, 255, 255, 0) 64.04%),
                linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
    border-radius: 50px;
    border: none;

    font-family: 'Roboto-Regular', Arial, sans-serif;
    color: #FFFFFF;
    font-size: 20px;

    padding: 30px 150px;
}

.select-arrow{
    position: relative;
    display: grid;
    max-width: 345px;
    margin: auto;

    margin-bottom: 35px;
}

.select-arrow:after{
    content: "▼";
    position: absolute;
    font-size: 25px;
    z-index: 1;
    top: 30%;
    right: 10%;

}

.select-form{
    font-family: 'Roboto Regular';
    font-size: 20px;
    color: #202024;
    text-align: center;
    padding: 30px 100px;

    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);
    appearance: none;
}

.error{
    border: 1px solid red;
}

/* Секция Header */

header{
    background-image: url("../img/blik.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.header-top{
    margin: auto;

    margin-bottom: 100px;
}

.header-top .text{
    font-family: 'Roboto Light', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.header-top__text_s{
    padding-top: 10px;
    font-size: 16px;
}

.header-top__text_b{
    font-size: 25px;
}

.header-top__line{
    height: 1px;
    color: rgba(255, 255, 255, 0.2);
    max-width: 1440px;
    margin: auto;
}

.header-center__img img{
    display: block;
    margin: auto;
}

.header-center__text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 25px;
    color: #F6C866;
    text-align: center;

    margin: auto;
    max-width: 500px;

    margin-bottom: 40px;
}

.header-center__text_b{
    text-transform: uppercase;
}

.header-center__wrapper{
    display: block;

}

.header-center__wrapper_button{
    display: grid;
    margin: auto;
    margin-bottom: 35px;
}

.header-center__text_s{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.header-bottom__elem1{
    max-width: 400px;
    margin: auto;
    margin-top: 150px;

    border: 1px solid #FFFFFF;
    border-radius: 3px;

    margin-bottom: 70px;
}

.header-bottom__elem1 img{
    display: block;
    margin: auto;
    margin-top: -90px;
}

.header-bottom__text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;

    padding: 50px 30px;
}

.header-bottom__text_y{
    font-family: 'Roboto Medium', Arial, sans-serif;
    color: #F6C866;
}

/* Секция Main */

.main-content__wrapper{
    background-image: url("../img/bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;

    margin: auto;
    max-width: 1440px;

    margin-bottom: 130px;
}

.main-content__text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;

    margin: auto;
    max-width: 380px;

    padding-top: 240px;
    padding-bottom: 240px;
}

.main-content__text_y{
    color: #F6C866;
}

.main-content__question_text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #F6C866;

    text-align: center;
    margin-bottom: 45px;
}

.main-content__question_button{
    display: grid;
    margin: auto;

    margin-bottom: 35px;
}

.main-content__question_text_s{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

/* Секция Footer */

.footer-content{
    max-width: 1440px;
    margin: auto;

    background-image: url('../img/eye.svg'),
                      url('../img/moon.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 160px;
    background-position: right top, left 90%;
}

.button-content{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 120px;
    margin-bottom: 120px;

    background-image: url('../img/rune1.svg'),
                      url('../img/rune2.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 50px, 50px;
    background-position: top, bottom;
}

.button-content__text{
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 25px;
    color: #FFFFFF;

    max-width: 250px;
    margin: auto;
    text-align: center;
}

.footer-content__text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 7px;
    color: #9D9D9D;

    text-align: center;
}

/* Страница Question */

.header-question{
    background-image: url('../img/eye.svg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 65% bottom;
}

.button-question__text{
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    opacity: 0.6;
    line-height: 35px;
    text-align: center;
    max-width: 415px;

    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.button-question__line{
    height: 1px;
    color: rgba(255, 255, 255, 0.2);
}

.form-content{
    padding-bottom: 130px;
    background-image: url('../img/moon.svg');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 30% bottom;
}

.form-content__text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 25px;
    color: #F6C866;
    text-align: center;
    text-transform: uppercase;

    max-width: 500px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 40px;
}

.form-content__wrapper_button{
    display: grid;
    margin: auto;
    margin-bottom: 35px;
}

.question-number{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

}
.select-from__button{
    display: grid;
    margin: auto;
}

.select-form__wrapper{
    display: none;
}

.loader-wrapper{
    margin: auto;
    display: none;
    margin-top: 50vh;
}

.loader-content{
    width: 75px;
    height: 75px;
    margin: auto;

    background-image: url('../img/preloader.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    margin-bottom: 25px;
}

.loader-content__text{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);

    text-align: center;
}

.main-content{
    display: block;
}

.form-content__hidden{
    display: none;
}

.form-content__hidden_2{
    display: none;
}

.bg_popup{
    background-image: url('../img/pop-up-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.progress-wrapper{
    margin: auto;
    display: none;

    margin-top: 50vh;
}

.progress-wrapper img{
    display: inherit;
    margin: auto;
}

.progressbar-text{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.progressbar-text_b{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.progressbar-outside{
    width: 260px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: auto;
    margin-top: 40px;
}

.progressbar-inside{
    width: 0%;
    height: 4px;
    background-color: #F6C866;
}

.result-content__text_black{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 25px;
    color: #202024;
    text-align: center;
    max-width: 415px;

    margin: auto;
    padding: 30px 30px;
}

.result-content{
    display: none;
}

.result-content__text_b{
    font-family: 'Roboto Bold', Arial, sans-serif;
}

.result-content__text{
    font-family: 'Roboto Light', Arial, sans-serif;
    font-size: 25px;
    color: #fff;
    text-align: center;

    max-width: 415px;
    margin: auto;
    margin-top: 20px;
}

.event-soon{
    display: block;
    margin: auto;
}

.event-soon__text{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 27px;
    color: #F6C866;
    text-align: center;

    max-width: 415px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 15px;

    border: 1px solid #fff;
    border-radius: 3px;

}

.event-soon__text_b{
    font-family: 'Roboto Bold', Arial, sans-serif;
}

.result-content__button{
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size: 20px;
    color: #fff;

    background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%),
                linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
    border-radius: 50px;
    border: none;

    padding: 30px 50px;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    display: block;
}

.result-show{
    margin: auto;
    display: none;

    font-family: 'Roboto Bold', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

/* Animation */

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Adaptive */

@media screen and (max-width: 550px) {

    /* Элементы */

    .button{
        padding: 15px 100px;
        font-size: 14px;
    }

    /* Секция Header */

    header{
        background-size: contain;
    }

    .header-top__text_s{
        font-size: 12px;
    }

    .header-top__text_b{
        font-size: 20px;
    }

    .header-center__text{
        font-size: 16px;

        padding: 0 20px;
    }

    .header-center__text_s{
        font-size: 12px;
    }

    .header-bottom{
        margin: 0 25px;
    }

    .header-bottom__text{
        font-size: 16px;
    }

    .header-bottom__text_y{
        font-size: 20px;
    }

    .header-bottom__elem1 img {
        width: 100px;
        margin-top: -60px;
    }

    /* Секция Main */

    .main-content__text{
        font-size: 16px;

        margin: 0 30px;
    }

    .main-content__text_y{
        font-size: 20px;
    }

    .main-content__question_text{
        font-size: 16px;
    }

    .main-content__question_text_s{
        font-size: 12px;
    }

    /* Секция Footer */

    .footer-content{
        background-size: 80px, 50px;
        background-position: 110% top, -5% 90%;
    }

    .button-content__text{
        font-size: 20px;

        padding: 0 20px;
    }

    .button-content{
        background-size: 30px, 30px;
    }

    /* Страница question */
    
    .header-question{
        background-size: 100px;
        background-position: 110% 90%;
    }

    .button-question__text{
        font-size: 14px;
        padding-right: 40px;
        padding-left: 40px;
        line-height: 20px;
    }

    .form-content{
        background-size: 50px;
        background-position: -5% bottom;

        padding-bottom: 35px;
    }

    .form-content__text{
        font-size: 16px;
        line-height: 25px;
        padding-top: 35px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .select-form{
        padding: 15px 100px;
        font-size: 14px;
    }

    .select-arrow::after{
        font-size: 14px;
    }

    .result-content__text_black{
        font-size: 14px;
    }

    .result-content__text{
        font-size: 14px;
    }

    .event-soon__text{
        font-size: 16px;
    }

    .result-content__button{
        font-size: 14px;
    }
}